<template>
  <div id="app">
    <top-navigation />
    <main class="middle">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import TopNavigation from './TopNavigation.vue';
import getRouter from '../router';

const router = getRouter();

export default {
    name: 'app',
    router,
    components: {
        'top-navigation': TopNavigation
    },
    created() {
        const store = this.$store;
        const unprotectedPages = [
            'login', 'register', 'resetPassword', 'forgotPassword'
        ];

        this.$router.beforeEach((to, from, next) => {
            if (!this.$store.getters['user/currentUser'] && unprotectedPages.indexOf(to.name) === -1) {
                return store.dispatch('user/loadUser')
                .then((user) => {
                    if (!user) {
                        return next({ name: 'login' });
                    }
                    next();
                })
                .catch(() => next(false));
            } else {
                next();
            }
        });

        this.$store.dispatch('user/loadUser')
        .then((user) => {
            if (!user && unprotectedPages.indexOf(this.$router.currentRoute.name) === -1) {
                this.$router.push('/login');
            }
        });
    }
};
</script>

<style>
@import url('../assets/global.css');

.middle {
  width: 600px;
  margin: auto;  
}
</style>
