<template>
  <div>
    <h1>Forgotten Password</h1>
    <p class="form-error" v-if="loginError">Could not send reset mail</p>
    <p class="form-success" v-if="success">If email belongs to a valid user, a password reset mail should be sent.</p>
    <form @submit.prevent="submitPost(email)">
        <input v-model="email" type="email" name="email" placeholder="Email" />
        <input type="submit" value="Send password reset mail"/>
    </form>
    <router-link class="user-link" to="/login">Existing user login</router-link>
  </div>
</template>

<script>

export default {
    data() {
        return {
            email: '',
            password: '',
            loginError: false,
            success: false
        };
    },
    methods: {
        submitPost(email) {
            this.loginError = false;

            return this.$store.dispatch('user/sendPasswordResetMail', { email })
            .then((success) => {
                if (success) {
                    this.success = true;
                    return new Promise((resolve) => setTimeout(resolve, 2000));
                } else {
                    this.success = false;
                    this.loginError = true;
                }
            })
            .then(() => {
                this.$router.push('/');
            });
        }
    },
    name: 'ForgotPassword'
};

</script>

<style lang="less" scoped>
div {
    width: 300px;
    margin: auto;
}

form {
    margin: 0 0 20px;

    input {
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
    }

    input[type="email"], input[type="password"] {
        display: block;
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid #eee;
    }

    input[type="submit"] {
        padding: 5px 20px;
    }
}

a {
    display: inline-block;
    width: 50%;
}

.registration-link {
    text-align: right;
}

</style>
