<template>
    <div v-if="loggedIn">
        <h1>Home</h1>
        <post-form/>
        <ul class="stream">
            <li v-for="post in posts" :key="post.id">
                <post-item v-bind:post="post"/>
            </li>
        </ul>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import PostForm from './PostForm';
import PostItem from './PostItem';

export default {
    computed: {
        ...mapGetters({
            posts: 'stream/posts',
            currentUser: 'user/currentUser',
            loggedIn: 'user/isLoggedIn'
        })
    },
    mounted() {
        this.$store.dispatch('stream/getLatestPosts');
    },
    components: {
        'post-form': PostForm,
        'post-item': PostItem
    },
    name: 'Home'
};

</script>

<style lang="less" scoped>
.stream {
    margin: 0;
    padding: 0;

    li {
        margin: 0 -5px 10px;
        padding: 5px;
        list-style-type: none;
        background-color: #fcfcfc;

        &:hover {
            background-color: #fafafa;
        }
    }
}
</style>
