<template>
  <div>
    <form @submit.prevent="submitPost()">
        <h1>Invite a Friend</h1>
        <p class="form-error" v-if="formError">Could not send invitation</p>
        <input v-model="name" type="text" placeholder="Name"/>
        <input v-model="email" type="email" placeholder="Email" />
        <input type="submit" value="Invite"/>
    </form>
    <div class="invite-link" v-if="inviteLink">
        <input id="invite-link-text" v-model="inviteLink" type="text" readonly="readonly"/>
        <input type="button" value="Copy" @click="copyLink()"/>
    </div>
  </div>
</template>

<script>

export default {
    data() {
        return {
            name: '',
            email: '',
            formError: false,
            inviteLink: ''
        };
    },
    methods: {
        submitPost() {
            this.formError = false;

            return this.$store.dispatch('user/invite', {
                name: this.name,
                email: this.email
            })
            .then((inviteLink) => {
                this.inviteLink = inviteLink;
                this.name = '';
                this.email = '';
            })
            .catch(() => {
                this.formError = true;
            });
        },
        copyLink() {
            document.getElementById('invite-link-text').select();
            try {
                document.execCommand('copy');
            } catch(err) {
                this.$store.dispatch('apiErrors/logError', 'UnableToCopy');
            }
        }
    },
    name: 'Invite'
};

</script>

<style lang="less" scoped>
div {
    width: 600px;
    margin: auto;
}

form {
    width: 300px;
    margin: 0 auto 20px;

    input {
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        display: block;
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid #eee;
    }

    input[type="submit"] {
        padding: 5px 20px;
    }
}

.invite-link {
    border: 1px solid #eee;
    padding: 5px;

    * {
        box-sizing: border-box;
        border: 0;
    }

    input[type="text"] {
        width: calc(100% - 100px);
    }
    input[type="button"] {
        width: 100px;
    }
}

</style>
