<template>
  <div>
    <h1>Log in</h1>
    <p class="form-error" v-if="loginError">Could not log in</p>
    <form @submit.prevent="submitPost(email, password)">
        <input v-model="email" type="email" placeholder="Email" />
        <input v-model="password" type="password" placeholder="Password"/>
        <input type="submit" value="Go"/>
    </form>
    <router-link class="user-link" to="/forgotPassword">Reset password</router-link>
    <router-link class="user-link registration-link" to="/register">New user registration</router-link>
  </div>
</template>

<script>

export default {
    data() {
        return {
            email: '',
            password: '',
            loginError: false
        };
    },
    methods: {
        submitPost(email, password) {
            return this.$store.dispatch('user/auth', { email, password })
            .then((success) => {
                if (!success) {
                    this.loginError = true;
                    return;
                }
                this.$router.push('/');
            });
        }
    },
    name: 'Login'
};

</script>

<style lang="less" scoped>
div {
    width: 300px;
    margin: auto;
}

form {
    margin: 0 0 20px;

    input {
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
    }

    input[type="email"], input[type="password"] {
        display: block;
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid #eee;
    }

    input[type="submit"] {
        padding: 5px 20px;
    }
}

a {
    display: inline-block;
    width: 50%;
}

.registration-link {
    text-align: right;
}

</style>
