<template>
  <div>
    <h1>Logging out...</h1>
  </div>
</template>

<script>
import Cookies from 'js-cookie';

export default {
    name: 'logout',
    mounted() {
        Cookies.remove('auth');
        return this.$store.dispatch('user/logout')
        .then(() => {
            setTimeout(() => {
                return this.$router.push('/login');
            }, 1000);
        });
    }
};

</script>
