<template>
    <div>
        <router-link class="author" :to="{
            name: 'profile',
            params: { userId: post.authorId }
        }">{{ post.author }}</router-link>
        <div class="content">{{ post.content }}</div>
        <a class="comments" v-on:click="toggleComments()">Comments {{ post.comments.length }}</a>
        <div v-if="showComments" class="comments-block">
            <form>
                <textarea v-model="content" placeholder="Leave a comment">
                </textarea>
                <input type="button" @click="submitComment(content)" value="Post"/>
            </form>
            <ul>
                <li v-for="comment in post.comments" v-bind:key="comment.id">
                    <div class="comment">
                        <div class="comment-content">{{ comment.content }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            content: '',
            showComments: false
        };
    },
    methods: {
        toggleComments() {
            this.showComments = !this.showComments;
        },
        submitComment(content) {
            this.$store.dispatch('stream/submitComment', { content, postId: this.post.id })
            .then(() => {
                this.content = '';
            });
        }
    },
    props: ['post'],
    name: 'PostItem'
};

</script>

<style lang="less" scoped>
@purple: #673ab9;

.author, .comments {
    clear: right;
    font-size: 11px;
    color: @purple;
    cursor: pointer;
}

.content {
    margin: 5px 0;
}

.comments-block {
    li {
        list-style-type: none;
    }
}

form {
    height: 100px;
    margin: 10px 0;
    padding: 5px 10px 10px;
    border: 1px solid #eee;

    & > * {
        box-sizing: border-box;
        vertical-align: bottom;
        display: inline-block;
    }

    textarea {
        width: calc(100% - 80px);
        height: 100px;
        padding: 0;
        border: 0;
        background-color: transparent;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    input[type=button] {
        width: 80px;
        padding: 5px 20px;
        color: white;
        font-variant: small-caps;
        background-color: @purple;
        border: 1px solid black;
        cursor: pointer;
    }
}
</style>
