<template>
  <form>
    <textarea v-model="content" placeholder="What's up?">
    </textarea>
    <input type="button" @click="submitPost(content)" value="Post"/>
  </form>
</template>

<script>
export default {
    data() {
        return {
            content: ''
        };
    },
    methods: {
        submitPost(content) {
            return this.$store.dispatch('stream/submitPost', content)
            .then(() => {
                this.content = '';
            });
        }
        
    },
    name: 'PostForm'
};

</script>

<style lang="less" scoped>
form {
    margin-bottom: 20px;
    
    & > * {
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
    }
    textarea {
        width: calc(80% - 5px);
        margin-right: 5px;
        padding: 5px 10px;
        height: 50px;
    }

    input[type=button] {
        width: 20%;
        height: 40px;
        font-size: 16px;
        font-variant: small-caps;
        color: white;
        background-color: #673ab9;
        border: 1px solid #333;
        cursor: pointer;
    }
}
</style>
