<template>
  <div v-if="isLoggedIn">
    <h1>{{ user && user.name }}</h1>
    <relationship-list v-if="user && user.id === currentUser.id" v-bind:friends="user.friends"></relationship-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import RelationshipList from './RelationshipList.vue';

export default {
    data: () => {
        return {
            selectedUser: null
        };
    },
    watch: {
        userId(newUserId) {
            return this.$store.dispatch('user/getUserById', newUserId);
        }
    },
    computed: {
        ...mapGetters({
            isLoggedIn: 'user/isLoggedIn',
            currentUser: 'user/currentUser',
            user: 'user/requestedProfile'
        })
    },
    mounted() {
        return this.$store.dispatch('user/getUserById', this.userId);
    },
    components: {
        'relationship-list': RelationshipList
    },
    props: ['userId'],
    name: 'Profile'
};

</script>
