<template>
  <div>
    <form v-if="validHash" @submit.prevent="submitPost()">
      <h1>New User Registration</h1>
      <p class="form-error" v-if="formError">Could not complete registration</p>
        <input v-model="name" type="text" placeholder="Full name"/>
        <input v-model="email" type="email" placeholder="Email" />
        <input v-model="password" type="password" placeholder="Password"/>
        <input v-model="confirmPassword" type="password" placeholder="Confirm password"/>
        <input type="submit" value="Register"/>
      <router-link class="user-link" to="/login">Existing user login</router-link>
    </form>
    <h1 class="not-found" v-if="!validHash">User invite not found</h1>
  </div>
</template>

<script>

export default {
    data() {
        return {
            name: '',
            email: '',
            password: '',
            confirmPassword: '',
            formError: false,
            validHash: false
        };
    },
    methods: {
        submitPost() {
            if (this.password !== this.confirmPassword) {
                this.formError = true;
                return;
            }
            return this.$store.dispatch('user/register', {
                name: this.name,
                email: this.email,
                password: this.password,
                hash: this.hash
            })
            .then((success) => {
                if (!success) {
                    this.formError = true;
                    return;
                }
                this.$router.push('/');
            });
        }
    },
    created() {
        if(this.invitedEmail && this.hash) {
            this.validHash = false;

            this.$store.dispatch('user/getUserByInvite', { 
                email: this.invitedEmail, 
                hash: this.hash 
            })
            .then((user) => {
                this.name = user.name;
                this.email = this.invitedEmail;
                this.validHash = true;
            })
            .catch(() => {
                this.validHash = false;
            });
        } else {
            this.validHash = true;
        }
    },
    props: ['invitedEmail', 'hash'],
    name: 'Register'
};

</script>

<style lang="less" scoped>
div {
    width: 600px;
    margin: auto;
}

form {
    width: 300px;
    margin: 0 auto 20px;

    input {
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        display: block;
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid #eee;
    }

    input[type="submit"] {
        padding: 5px 20px;
    }
}

.not-found {
    text-align: center;
}
</style>
