<template>
    <ul class="relationship-list">
        <li v-for="friend in friends" :key="friend.id">
            {{ friend.name }}
        </li>
    </ul>
</template>

<script>

export default {
    props: ['friends'],
    name: 'RelationshipList'
};

</script>
