<template>
  <div>
    <h1>Reset Your Password</h1>
    <p class="form-error" v-if="formError">Could not set password</p>
    <form @submit.prevent="submitPost()">
      <input v-model="email" name="email" type="hidden"/>
      <input v-model="password" name="password" type="password" placeholder="Password"/>
      <input v-model="confirmPassword" type="password" placeholder="Confirm password"/>
      <input type="submit" value="Register"/>
    </form>
    <router-link class="user-link" to="/login">Existing user login</router-link>
  </div>
</template>

<script>

export default {
    data() {
        return {
            password: '',
            confirmPassword: '',
            formError: false
        };
    },
    methods: {
        submitPost() {
            if (this.password !== this.confirmPassword) {
                this.formError = true;
                return;
            }
            return this.$store.dispatch('user/updatePassword', {
                email: this.email,
                password: this.password,
                hash: this.hash
            })
            .then((success) => {
                if (!success) {
                    this.formError = true;
                    return;
                }
                this.$router.push('/');
            });
        }
    },
    props: ['email', 'hash'],
    name: 'ResetPassword'
};

</script>

<style lang="less" scoped>
div {
    width: 300px;
    margin: auto;
}

form {
    margin: 0 0 20px;

    input {
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        display: block;
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid #eee;
    }

    input[type="submit"] {
        padding: 5px 20px;
    }
}
</style>
