<template>
    <nav class="top-navigation">
      <router-link to="/">Home</router-link>
      <router-link v-if="loggedIn" :to="{ name: 'profile', params: { userId: currentUser.id } }">Profile</router-link>
      <router-link v-if="loggedIn" to="/invite">Invite</router-link>
      <router-link class="logout" v-if="loggedIn" to="/logout">Log out</router-link>
    </nav>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            currentUser: 'user/currentUser',
            loggedIn: 'user/isLoggedIn'
        })
    },
    name: 'TopNavigation'
};
</script>

<style lang="less">
.top-navigation {
    padding: 2px 10px;
    background-color: #606060;

    a {
        display: inline-block;
        margin: 0 5px;
        color: white;

        &:hover {
            text-decoration: none;
        }
    }

    .logout {
        float: right;
    }
}


</style>
