body, html {
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
}

a {
    color: #3355aa;
}

a:hover {
    text-decoration: none;
}

a.user-link {
    font-size: 12px;
}

h1 {
    margin: 20px 0;
}

input, textarea {
    font-family: Oxygen, sans-serif;
}
